/*
    NVIS425-DAQ - styles.css

    This CSS file contains styling rules for the NVIS425 Lead-Acid Battery Characteristics Training System Data Acquisition System user interface.

    It includes:
    - Styling for header section with system title and logo
    - Layout and appearance of chart displays
    - Design of data acquisition controls and system statistics
    - Customization of port selection dropdown and download button
    - Battery visualization styling

    Author: Kishore Gunalan
*/

:root {
    --primary-color: #000;
    --secondary-color: #0e0e0e;
    --accent-color: #1d1d1d;
    --border-color: #737373;
    --font-color: #f1f1f1;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
    background-color: var(--accent-color);
    color: var(--font-color);
}

.titlebar {
    background: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    width: 100%;
    -webkit-app-region: drag;
}
.titlebar p {
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
}

.titleBarBtns{
    margin-right: 5px;
    display: flex;
    margin-right: 8px;
    align-items: center;
    height: 100%;
}

.titleBarBtns svg {
    padding: 0 8px;
    stroke: white; /* or any color you prefer */
    stroke-width: 2; /* adjust as needed */
    width: 16px;
    height: 100%;
    transition: 0.2s ease;
}

.titleBarBtns svg:hover {
    background: white;
    stroke: black; /* or any color you prefer */
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--font-color);
    border-top: 2px solid var(--border-color);
    border-bottom: 2px solid var(--border-color);
}

.left-header {
    display: flex;
    align-items: center;
    padding: 10px;
    border-right: 2px solid var(--border-color);
    margin-left: 50px;
    height: 65px;
}

.right-header {
    width: 100%;
    text-align: center;
}

.right-header p{
   margin: 0;
   font-weight: bold;
   margin-top: 15px;
   font-size: 18px;
}
    

#header-logo, #header-title, #header-company {
font-size: 18px;
font-weight: bold;
flex: 1;
}

#header-logo {  
height: 65px;   
object-fit: contain;
margin-left: -50px;
}

#header-title {
flex-grow: 1;
text-align: center;
font-size: 22px;
}

#header-company {
font-size: 16px;
width: 280px;
margin-left: -30px;
margin-right: 10px;
}


.main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1080px;
    margin: 10px auto;
    height: 100%;
}
button {
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    background-color: #00988e;
    color: var(--font-color);
    cursor: pointer;
    transition: 0.2s ease;
    font-weight: bold;
}

button:hover {
    color: black;
    background-color: white;
}

.port-container {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 20px 0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: var(--secondary-color);
    border-radius: 10px;
    justify-content: space-evenly;
    border: 1px solid var(--border-color);
    max-width: 450px;
}

.com-port-selector {
    display: flex;
    align-items: center;
}

.com-port-selector label {
    font-size: 15px;
}

.com-port-selector select {
    appearance: none;
    -webkit-appearance: none;
    width: 100px;
    font-size: 14px;
    margin-left: 5px;
    padding: 5px 10px 5px 10px;
    background-color: var(--primary-color);
    border: 1px solid var(--border-color);
    border-radius: 0.25rem;
    color: var(--font-color);
    cursor: pointer;
}

.node-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.node {
    background: var(--secondary-color);
    width: 100%;
    max-width: 335px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    margin: 10px 0px;
}

.node span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.node label {
    font-weight: bold;
}

.node h3{
    margin: 0;
}

.nodeHead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--primary-color);
    margin: 0;
    padding: 15px 35px;
    border-bottom: 1px solid var(--border-color);
    border-radius: 8px;
}

.nodeHead span {
    height: 8px;
    width: 8px;
    background-color: green;
    border-radius: 50%;
    border: 1px solid white;
    padding: 0;
}
